*{margin:0;padding:0;box-sizing:border-box;font-family:'Urbanist',sans-serif;}

body{
  background: radial-gradient(circle at center,#022c22,#012315,#001a10);
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.container{
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
}

.card{
  width:380px;
  padding:40px;
  border-radius:22px;
  text-align:center;
  color:white;
}

.glass-glow{
  background:rgba(1,35,20,.85);
  backdrop-filter:blur(8px);
  box-shadow:0 0 25px rgba(16,185,129,.6),0 0 60px rgba(0,255,170,.4);
}

.logo{width:110px;margin-bottom:10px;filter:drop-shadow(0 0 15px #22c55e);}

.title{font-size:26px;font-weight:700;}
.title span{color:#22c55e;}
.subtitle{color:#a7f3d0;margin:10px 0 20px 0;font-weight:300;}

.flex-box{display:flex;margin-top:10px;}
input{
  width:100%;padding:13px;border-radius:12px;border:none;outline:none;font-size:16px;
}

button{
  width:100%;padding:13px;margin-top:18px;border-radius:12px;border:none;
  background:#22c55e;font-size:17px;font-weight:700;cursor:pointer;transition:.3s;
}
button:hover{
  background:#16a34a;transform:scale(1.03);box-shadow:0 0 20px #22c55e;
}

small{display:block;margin-top:10px;color:#ffabab;font-size:14px;}

@media(max-width:480px){
  .card{width:90%;padding:30px;}
}
