*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Urbanist',sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background: radial-gradient(circle at center,#022c22,#012315,#001a10);
}

/* ---------------- WEBSITE LOADER ---------------- */
#pageLoader{
  position:fixed;
  inset:0;
  background:#001a10;
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  z-index:9999;
}

.spinner{
  width:60px;
  height:60px;
  border:6px solid #0d7a4d;
  border-top:6px solid white;
  border-radius:50%;
  animation:spin 1s linear infinite;
}

@keyframes spin{
  to{transform:rotate(360deg);}
}

.hidden{
  display:none !important;
}

/* ---------------- MAIN UI ---------------- */
.container{
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.card{
  width:380px;
  padding:40px;
  border-radius:22px;
  text-align:center;
  color:white;
  position:relative;
}

.glass{
  background:rgba(1,35,20,0.9);
  backdrop-filter:blur(8px);
  box-shadow:0 0 25px rgba(16,185,129,.6),
             0 0 60px rgba(0,255,170,.4);
}

/* Logo */
.logo{
  width:110px;
  margin-bottom:10px;
  filter:drop-shadow(0 0 15px #22c55e);
}

/* Title */
.title{
  font-size:26px;
  font-weight:700;
}
.title span{
  color:#22c55e;
}

.subtitle{
  color:#a7f3d0;
  margin:10px 0 25px 0;
  font-weight:300;
}

/* PHONE BOX */
.phone-box{
  display:flex;
  align-items:center;
  background:#022c22;
  border:1px solid #16a34a;
  border-radius:12px;
  overflow:hidden;
  transition:0.3s;
}

.code{
  padding:12px 18px;
  font-size:18px;
  font-weight:700;
  color:#a7f3d0;
  background:#013220;
  border-right:1px solid #16a34a;
}

.phone-box input{
  width:100%;
  padding:13px;
  border:none;
  outline:none;
  font-size:16px;
}

/* BUTTON */
button{
  width:100%;
  padding:13px;
  margin-top:18px;
  border-radius:12px;
  border:none;
  background:#22c55e;
  font-size:17px;
  font-weight:700;
  cursor:pointer;
  transition:.3s;
}

button:hover{
  background:#16a34a;
  transform:scale(1.03);
  box-shadow:0 0 20px #22c55e;
}

.status{
  margin-top:10px;
  min-height:18px;
  font-size:14px;
}

.trust{
  display:block;
  margin-top:10px;
  color:#9be7c7;
}

footer{
  margin-top:15px;
  color:#6ee7b7;
  font-size:13px;
}

/* ERROR SHAKE */
.shake{
  animation:shake .3s;
}

@keyframes shake{
  0%{transform:translateX(0);}
  25%{transform:translateX(-6px);}
  50%{transform:translateX(6px);}
  75%{transform:translateX(-6px);}
  100%{transform:translateX(0);}
}

/* Glows */
.success-glow{
  box-shadow:0 0 25px #22c55e;
  border:1px solid #22c55e;
}

.error-glow{
  box-shadow:0 0 25px #ff3b3b;
  border:1px solid red;
}

@media(max-width:480px){
  .card{
    width:90%;
    padding:30px;
  }
}
