*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Urbanist',sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background: radial-gradient(circle at center,#022c22,#012315,#001a10);
}

.container{
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.card{
  width:380px;
  padding:40px;
  border-radius:22px;
  text-align:center;
  color:white;
}

.glass{
  background:rgba(1,35,20,0.85);
  backdrop-filter:blur(8px);
  box-shadow:0 0 25px rgba(16,185,129,.6),0 0 60px rgba(0,255,170,.4);
}

/* Logo */
.logo{
  width:110px;
  margin-bottom:10px;
  filter:drop-shadow(0 0 15px #22c55e);
}

/* Heading */
.title{
  font-size:26px;
  font-weight:700;
}
.title span{
  color:#22c55e;
}

.subtitle{
  color:#a7f3d0;
  margin:10px 0 25px 0;
  font-weight:300;
}

/* Phone Input Group */
.phone-box{
  display:flex;
  align-items:center;
  background:#022c22;
  border:1px solid #16a34a;
  border-radius:12px;
  overflow:hidden;
}

.code{
  padding:12px 18px;
  font-size:18px;
  font-weight:700;
  color:#a7f3d0;
  background:#013220;
  border-right:1px solid #16a34a;
}

.phone-box input{
  width:100%;
  padding:13px;
  border:none;
  outline:none;
  font-size:16px;
}

/* Button */
button{
  width:100%;
  padding:13px;
  margin-top:18px;
  border-radius:12px;
  border:none;
  background:#22c55e;
  font-size:17px;
  font-weight:700;
  cursor:pointer;
  transition:.3s;
}

button:hover{
  background:#16a34a;
  transform:scale(1.03);
  box-shadow:0 0 20px #22c55e;
}

small{
  margin-top:10px;
  display:block;
  color:#ff9f9f;
}

/* Mobile */
@media(max-width:480px){
  .card{
    width:90%;
    padding:30px;
  }
}
